.grid-container{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
}
.grid-item{
  border-style: solid;
  border-width: 30px;
}
.display{
  grid-column-start: 1;
grid-column-end: 5;
border-style: solid;
border-width: 3px;
}
.function{
  background-color: #4CAF50;
}
#zero{
  grid-column-start: 1;
  grid-column-end: 3;
}
